@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* VARS */
:root {
  --purple: #8e44ad;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* RESET */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border: none;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
}

*::selection {
  background-color: var(--purple);
  color: var(--white);
}

*::webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::webkit-scrollbar-track {
  background-color: tranparent;
}

*::webkit-scrollbar-thumb {
  background-color: var(--purple);
}

textarea {
  resize: none;
}

/* HELPERS */
@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0.2s;
  }
}

section {
  padding: 3rem 2rem;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: capitalize;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn.purple {
  background-color: var(--purple);
}

.btn.red {
  background-color: var(--red);
}

.btn.orange {
  background-color: var(--orange);
}

.btn:hover {
  background-color: var(--black);
}

.message {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem;
  z-index: 2;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  color: var(--red);
  cursor: pointer;
}

.message i:hover {
  transform: rotate(90deg);
}

.title {
  font-size: 4rem;
  text-align: center;
  color: var(--black);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.empty {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  color: var(--red);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  overflow-y: scroll;
  z-index: 3;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
  align-items: flex-start;
}

.box-container .box {
  position: relative;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.box-container .box img {
  height: 30rem;
  width: 100%;
}

.box-container .box p {
  text-align: left;
  font-size: 1.4rem;
  color: var(--light-color);
  margin-top: 1.5rem;
}

.box-container .box p span {
  color: var(--purple);
}

.box-container .box .cart-quantity {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: var(--light-bg);
}

.box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--red);
  border-radius: 0.5rem;
  padding: 1rem;
}

.box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.5rem;
}

.box-container .box .fa-times:hover {
  background-color: var(--black);
}

.box-container .box .sub-total {
  font-size: 2rem;
  color: var(--light-color);
}

.heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 30vh;
  background: url(../images/heading-bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.heading h3 {
  font-size: 5rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading p {
  font-size: 2.5rem;
  color: var(--light-color);
}

.heading p a {
  color: var(--purple);
}

.heading p a:hover {
  text-decoration: underline;
}

/* PRODUCTS/REGISTER/LOGIN */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-container.wrapper {
  background-color: var(--light-bg);
  height: 100vh;
}

.form-container form {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  text-align: center;
}

.form-container form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
}

.form-container form .box {
  font-size: 1.2rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
  background-color: var(--light-bg);
  color: var(--black);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.form-container form p {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  color: var(--black);
}

.form-container form p a {
  color: var(--purple);
}

.form-container img {
  max-width: 20rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* DASHBOARD */
.dashboard .box-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.dashboard .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  background-color: var(--light-bg);
  text-align: center;
}

.dashboard .box-container .box h3 {
  font-size: 3rem;
  color: var(--black);
}

.dashboard .box-container .box p {
  font-size: 1.4rem;
  color: var(--purple);
  padding: 1.5rem;
  margin-top: 1.5rem;
  background-color: var(--white);
}

/* ADMIN PRODUCTS */
.box-container .box span.product-detail {
  display: block;
  font-size: 1.8rem;
  color: var(--black);
}

.box-container .box span.product-detail:last-of-type {
  font-size: 1.4rem;
  color: var(--red);
}

/* ADMIN ORDERS */
.orders .box-container .box .form-container {
  margin-top: 1rem;
  padding: 0;
}

.orders .box-container .box .form-container form {
  padding: 0;
}

/* HEADER */
.header .header-top {
  background-color: var(--light-bg);
}

.header .header-top > div,
.header .header-bottom > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}

.header .header-bottom > div:first-of-type {
  position: relative;
}

.header .header-top .share a {
  font-size: 1.4rem;
  color: var(--black);
}

.header .header-top .share a:not(:last-of-type) {
  margin-right: 0.5rem;
}

.header .header-top .share a:hover {
  color: var(--purple);
}

.header .header-top .auth a {
  font-size: 1.2rem;
  color: var(--light-color);
}

.header .header-top .auth a:hover {
  text-decoration: underline;
}

.header .header-bottom {
  position: relative;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.header .header-bottom .logo {
  font-size: 2rem;
  color: var(--purple);
}

/* FOOTER */
.footer {
  background-color: var(--light-bg);
}

.footer .box-container {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 0 2rem;
}

.footer h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 2rem;
}

.footer p,
.footer a {
  display: block;
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer p i,
.footer a i {
  color: var(--purple);
  padding-right: 0.5rem;
}

.footer a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.footer .credit {
  color: var(--light-color);
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

.footer .credit span {
  color: var(--purple);
}

/* ADMIN HEADER */
.admin-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.admin-header > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.admin-header > div .logo {
  font-size: 1.8rem;
  color: var(--black);
}

.admin-header > div .logo span {
  color: var(--purple);
}

.admin-header > div .navbar a,
.header .header-bottom .navbar a {
  font-size: 1.4rem;
  color: var(--black);
  margin: 0 0.5rem;
}

.admin-header > div .navbar a:hover,
.header .header-bottom .navbar a:hover {
  color: var(--purple);
}

.admin-header > div .icons #menu-btn,
.header .header-bottom .icons #menu-btn {
  display: none;
}

.admin-header > div .icons i,
.header .header-bottom .icons > * {
  font-size: 1.4rem;
  color: var(--black);
  cursor: pointer;
}

.admin-header > div .icons i:hover,
.header .header-bottom .icons > *:hover {
  color: var(--purple);
}

.admin-header > div .icons i:not(:last-of-type),
.header .header-bottom .icons > *:not(:last-child) {
  margin-right: 0.5rem;
}

.admin-header > div .account-box,
.header .header-bottom .account-box {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 30rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background-color: var(--white);
  animation: fadeIn 0.2s ease-in-out;
}

.admin-header > div .account-box.active,
.header .header-bottom .account-box.active {
  display: inline-block;
}

.admin-header > div .account-box p,
.header .header-bottom .account-box p {
  font-size: 1.4rem;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}

.admin-header > div .account-box p span,
.header .header-bottom .account-box p span {
  color: var(--purple);
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  font-size: 5.5rem;
  color: var(--white);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.8rem;
  color: var(--light-white);
  padding: 1rem 0;
  line-height: 1.5;
}

.home-contact {
  background-color: var(--black);
}

.home-contact .content {
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
}

.home-contact .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white);
}

.home-contact .content p {
  color: var(--light-white);
  font-size: 1.4rem;
  padding: 1rem 0;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 40rem;
  background-color: var(--light-bg);
  padding: 2rem;
}

.about .content h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
}

.about .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.reviews {
  background-color: var(--light-bg);
}

.reviews .box-container,
.authors .box-container {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.reviews .stars {
  display: inline-block;
  background-color: var(--light-bg);
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.reviews .stars i {
  font-size: 1rem;
  color: var(--orange);
  margin: 0.2rem;
}

.reviews h3,
.authors h3 {
  font-size: 2rem;
  color: var(--black);
}

.authors .box {
  overflow: hidden;
}

.authors .share {
  position: absolute;
  top: 0;
  left: -10rem;
}

.authors .box:hover .share {
  left: 1rem;
}

.authors .share a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  background-color: var(--white);
  border: var(--border);
  display: block;
  margin-top: 1rem;
  color: var(--black);
}

.authors .share a:hover {
  background-color: var(--black);
  color: var(--white);
}

/* CART */
.shopping-cart .cart-total {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--black);
}

.shopping-cart .cart-total p {
  font-size: 2.5rem;
  color: var(--white);
}

/* CHECKOUT */
.cart-list {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.cart-list p {
  display: inline-block;
  font-size: 2rem;
  background-color: var(--light-bg);
  color: var(--black);
  padding: 1rem 1.5rem;
  border: var(--border);
  margin: 0.5rem;
}

.cart-list p span {
  color: var(--red);
}

.cart-list > div {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--light-color);
}

.cart-list > div span {
  color: var(--red);
}

.checkout.form-container form {
  max-width: 100rem;
}

.checkout.form-container form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.checkout.form-container form > div .input-box {
  flex: 1 1 40rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.checkout.form-container form > div .input-box label {
  font-size: 1.2rem;
  color: var(--black);
  width: 25%;
}

/* ORDERS/PLACED ORDERS/USERS/MESSAGES */
.messages .box-container,
.users .box-container,
.orders .box-container,
.placed-orders .box-container {
  display: flex;
  flex-wrap: wrap;
}

.users .box-container .box,
.messages .box-container .box,
.orders .box-container .box,
.placed-orders .box-container .box {
  flex: 1 1 40rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  .admin-header > div .navbar,
  .header .header-bottom > div .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .admin-header > div .navbar.active,
  .header .header-bottom > div .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .admin-header > div .navbar a,
  .header .header-bottom > div .navbar a {
    margin: 2rem;
    display: block;
  }

  .admin-header > div .icons #menu-btn,
  .header .header-bottom > div .icons #menu-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 50%;
  }

  .title {
    font-size: 3rem;
  }
}
